<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magebit_mcp>
            <general>
                <allow_writes>0</allow_writes>
            </general>
            <audit>
                <retention_days>90</retention_days>
            </audit>
        </magebit_mcp>
    </default>
</config>
