<?xml version="1.0"?>
<!--
/**
 * @author    Magebit <info@magebit.com>
 * @copyright Copyright (c) Magebit, Ltd. (https://magebit.com)
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--
        Run before the URL-rewrite router (sortOrder=20) so the spec-mandated
        OAuth discovery paths cannot be shadowed by an admin-created URL rewrite.
    -->
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="magebit_mcp_well_known" xsi:type="array">
                    <item name="class" xsi:type="string">Magebit\Mcp\Controller\Router\WellKnownRouter</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
